/***********************
* colours
***********************/
/***********************
* distances
***********************/
/***********************
* media sizes
***********************/
/***********************
* text
***********************/
/***********************************************/
/* Statistics and graphs */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
/***********************
* html tags
***********************/
body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
/***********************
* table settings
***********************/
/*last element of table will be on the right side*/
/***********************
* spaces
***********************/
/*space between rows*/
.row-buffer {
  margin-top: 20px;
}
.number-between-buttons {
  margin: 0px 10px 0px 10px;
}
/***********************
* colors
***********************/
.green {
  color: #008000;
}
.red {
  color: #ff0000;
}
/***********************
* navigation
***********************/
.nav-fixed {
  background-color: #222222;
  position: fixed;
  width: 100%;
  z-index: 9999999;
}
.nav-wrapper {
  margin: 0 auto;
  text-align: center;
}
.nav-fixed ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-fixed ul .nav-active {
  background-color: #707070;
}
.nav-fixed ul li {
  display: inline-block;
}
.nav-fixed ul li .nav-hover:hover {
  background-color: #333333;
}
.nav-fixed ul li a {
  color: #cccccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}
.nav-top {
  top: 0;
}
.nav-bottom {
  bottom: 0;
}
/***********************
* wrappers
***********************/
#wrapper {
  margin: 0 auto;
  text-align: left;
}
#content {
  background-color: #ffffff;
  padding: 20px;
  margin: 30px 0 40px 0;
}
/***********************
* styling
***********************/
.label-as-badge {
  border-radius: 1px;
}
/***********************
* media
***********************/
@media all and (max-width: 370px) {
  .nav-fixed {
    font-size: 6px;
  }
  .nav-small {
    font-size: 3px;
  }
}
@media all and (min-width: 371px) and (max-width: 520px) {
  .nav-fixed {
    font-size: 10px;
  }
  .nav-small {
    font-size: 7px;
  }
}
@media all and (min-width: 521px) {
  .nav-fixed {
    font-size: 15px;
  }
  .nav-small {
    font-size: 12px;
  }
}
