/*last element of table will be on the right side*/
table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}

/*disable the links and buttons*/
a.disabled {
  pointer-events: none;
}

/*space between rows*/
.top-buffer {
  margin-top: 20px;
}

.label-as-badge {
  border-radius: 1em;
}

.green {
  color: green;
}

.red {
  color: red;
}
