/*last element of table will be on the right side*/
table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}
/*space between rows*/
.top-buffer {
  margin-top: 20px;
}
.label-as-badge {
  border-radius: 1em;
}
.green {
  color: green;
}
.red {
  color: red;
}
/* center the elements of the nav*/
.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.navbar-inner {
  text-align: center;
}
body {
  margin-bottom: 70px;
  margin-top: 50px;
}
