@import "less_includes/variables.less";
@import 'less_includes/statistics_and_graphs.less';

/***********************
* html tags
***********************/
body {
  overflow-y: scroll;
  padding:    0;
  margin:     0;
}

/***********************
* table settings
***********************/

/*last element of table will be on the right side*/
table {
  tr {
    td {
      &:last-child
      {
        //white-space: nowrap;
        //width:       1px;
      }
    }
  }
}

/***********************
* spaces
***********************/

/*space between rows*/
.row-buffer {
  margin-top: @row-buffer;
}

.number-between-buttons {
  margin: 0px 10px 0px 10px;
}

/***********************
* colors
***********************/

.green {
  color: @green-default;
}
.red {
  color: @red-default;
}

/***********************
* navigation
***********************/
.nav-fixed {
  background-color: @nav-bg;
  position:         fixed;
  width:            100%;
  z-index:          9999999;
}
.nav-wrapper {
  margin:     0 auto;
  text-align: center;
}
.nav-fixed ul {
  list-style-type: none;
  padding:         0;
  margin:          0;

  .nav-active {
    background-color: @nav-active;
  }
  li {
    display: inline-block;
    cursor: pointer;
    .nav-hover {
      &:hover {
        background-color: @nav-hover;
      }
    }
    a {
      color:@nav-link;
      display:         block;
      padding:         15px;
      text-decoration: none;
    }
  }
}

.nav-top {
  top: 0;
}

.nav-bottom {
  bottom: 0
}

/***********************
* wrappers
***********************/
#wrapper {
  margin:     0 auto;
  text-align: left;

}
#content {
  background-color: @content;
  padding:  20px;
  margin:   30px 0 40px 0;
}


/***********************
* styling
***********************/
.label-as-badge {
  border-radius: @border-radius-label;
}

/***********************
* media
***********************/
@font-size-nav: @font-nav-lg;

@media all {

  @media (max-width: @media-xs-max) {
    .nav-fixed {
      font-size: @font-nav-xs;
    }
    .nav-small {
      font-size: @font-nav-xs-sm;
    }
  }
  @media (min-width: @media-sm-min) and (max-width: @media-sm-max) {
    .nav-fixed {
      font-size: @font-nav-sm;
    }
    .nav-small {
      font-size: @font-nav-sm-sm;
    }
  }
  @media (min-width: @media-lg-min) {
    .nav-fixed {
      font-size: @font-nav-lg;
    }
    .nav-small {
      font-size: @font-nav-lg-sm;
    }
  }
}
