/***********************
* colours
***********************/
@red-default:       #ff0000;
@green-default:     #008000;
@color-nav:         #DD4814;
@color-nav-bg:      #222;
@color-nav-active:  #97310E;
@color-nav-hover:   #97310E;
@color-nav-link:    #FFF;
@color-content:     #FFF;
@color-btn-succ:    #43a047;
@color-btn-info:    #afb42b;
@color-table-strip: #f0f4c3;
@color-caption:     #827717;
@color-h4:          #78320C;
@color-badge-player:#ff8f00;

/***********************
* distances
***********************/
@row-buffer:          20px;
@border-radius-label: 50%;

/***********************
* media sizes
***********************/
@media-xs-max: 320px;
@media-sm-max: 480px;
@media-sm-min: (@media-xs-max + 1);
@media-lg-min: (@media-sm-max + 1);

/***********************
* text
***********************/
@font-nav-xs: 10px;
@font-nav-xs-sm: 7px;
@font-nav-sm: 15px;
@font-nav-sm-sm: 10px;
@font-nav-lg: 16px;
@font-nav-lg-sm: 13px;
