<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Applemarket</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-united.min.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="applemarketApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="nav-fixed nav-top" ng-controller="IndexCtrl">
      <div class="nav-wrapper">
        <ul>
          <li><a><span class="fa fa-apple"></span> {{gameInfoData.gameName}}<small class="nav-small"></small></a></li>
          <li><a><span class="fa fa-refresh"></span> Session <small class="nav-small">{{gameInfoData.sessionNumber}}/{{gameInfoData.maxSessionNumber}}</small></a></li>
          <li><a><span class="fa fa-repeat"></span> Round <small class="nav-small">{{gameInfoData.roundNumber}}/{{gameInfoData.maxRoundNumber}}</small></a></li>
          <!--<li><a><span class="fa fa-clock-o"></span> Time <small class="nav-small">{{gameInfoData.timeLeft}}s</small></a></li>-->
        </ul>
      </div>
    </div>
    <div class="nav-fixed nav-bottom" ng-controller="NavigationCtrl">
      <div class="nav-wrapper">
        <ul>
          <li ng-class="{'nav-active':selectedTab === 'home'}"    ng-click="selectTab('home');">                           <a class="nav-hover"><span class="fa fa-home"></span></a></li>
          <li ng-class="{'nav-active':selectedTab === 'offers'}"  ng-click="selectTab('offers');"  ng-hide="isGameManager"><a class="nav-hover"><span class="fa fa-list-alt"></span> Offers</a></li>
          <li ng-class="{'nav-active':selectedTab === 'profile'}" ng-click="selectTab('profile');" ng-hide="isGameManager"><a class="nav-hover"><span class="fa fa-user"></span> Profile</a></li>
          <li ng-class="{'nav-active':selectedTab === 'stats'}"   ng-click="selectTab('stats');">                          <a class="nav-hover"><span class="fa fa-line-chart"></span> Stats</a></li>
          <li ng-class="{'nav-active':selectedTab === 'manager'}" ng-click="selectTab('manager');" ng-show="isGameManager"><a class="nav-hover"><span class="fa fa-gamepad"></span> Manager</a></li>
        </ul>
      </div>
    </div>
    <div id="wrapper">
      <div id="content">
        <div class="container">
        <!-- Add your site or application content here -->
          <div ng-view></div>
        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/localization/i18n.js"></script>
    <script src="scripts/localization/de.js"></script>
    <script src="scripts/localization/en.js"></script>
    <!--services-->
    <script src="scripts/services/gamedata.js"></script>
    <script src="scripts/services/configdata.js"></script>
    <script src="scripts/services/simplechart.js"></script>
    <script src="scripts/services/playerdata.js"></script>
    <script src="scripts/services/appcache.js"></script>
    <script src="scripts/services/connectionservice.js"></script>
    <script src="scripts/services/tradeservice.js"></script>
    <!--controller-->
    <script src="scripts/controllers/index.js"></script>
    <script src="scripts/controllers/trade.js"></script>
    <script src="scripts/controllers/statistics.js"></script>
    <script src="scripts/controllers/offers.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/manager/create_game.js"></script>
    <script src="scripts/controllers/manager/manage_game.js"></script>
    <script src="scripts/controllers/lobby.js"></script>
    <script src="scripts/controllers/join.js"></script>
    <script src="scripts/controllers/error.js"></script>
    <script src="scripts/services/notificationservice.js"></script>
    <!-- endbuild -->
</body>
</html>
