<div>
  <div class="container text-center">
    <h3>
      <translate>TRADE_TITLE</translate> <small><translate>WORD_WITH</translate> {{ trade.partner }}</small>
    </h3>
    <div class="row">
      <!--<p ng-show="tradeInitiated" translate>TRADE_INITIATED</p>-->
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="increasePrice()">
          <span class="fa fa-angle-up"></span>
        </button>
        <button type="button" class="btn btn-default">
          {{newOffer}}
        </button>
        <button type="button" class="btn btn-default" ng-click="decreasePrice()">
          <span class="fa fa-angle-down"></span>
        </button>
      </div>
    </div>
    <div class="row row-buffer">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
          <translate>TRADE_OFFER</translate> <span class="label label-danger label-as-badge">{{offer}}</span>
        </button>
        <button type="button" class="btn btn-default">
          <translate>TRADE_PROFIT</translate> <span ng-class="{'label-success': profit > 0, 'label-danger': profit <= 0}" class="label label-as-badge">{{profit}}</span>
        </button>
      </div>
    </div>
    <div ng-show="isDemander" class="row row-buffer">
      <button type="button" class="btn btn-info" ng-click="sendOffer()" translate> TRADE_SEND_NEW_OFFER </button>
    </div>
    <div class="row row-buffer">
    </div>
    <div class="row row-buffer">
      <a ng-show="isDemander" ng-click="accepted();"><button class="btn btn-success" translate>SYSTEM_ACCEPT</button></a>
      <button ng-hide="isDemander" type="button" class="btn btn-info" ng-click="sendOffer()" translate> TRADE_SEND_NEW_OFFER </button>
      <a ng-href="#/offers"><button type="button" class="btn btn-warning"> Back to Offers </button></a>
    </div>
  </div>
</div>

