<div class="modal-header">
  <h3 class="modal-title">Verhandeln <small>mit Peter</small></h3>
</div>
<div class="modal-body text-center">
  <div class="row">
    <p>Angebot wurde angenommen.</p>
  </div>
  <div class="row top-buffer">
    <span class="fa fa-thumbs-o-up fa-4x green"></span>
  </div>
  <div class="row top-buffer">
    <button type="button" class="btn btn-default">
      Profit <span class="label label-success label-as-badge">+22</span>
    </button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="ok()">OK</button>
</div>
