
<div class="modal-header">
  <h3 class="modal-title">Verhandeln <small>mit Peter</small></h3>
</div>
<div class="modal-body text-center">
  <div class="row">
    <p ng-show="tradeInitiated">Das Angebot wird bearbeitet...</p>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="increasePrice()">
        <span class="fa fa-angle-up"></span>
      </button>
      <button type="button" class="btn btn-default">
        {{price}}
      </button>
      <button type="button" class="btn btn-default" ng-click="decreasePrice()">
        <span class="fa fa-angle-down"></span>
      </button>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        Angebot <span class="label label-danger label-as-badge">{{offer}}</span>
      </button>
      <button type="button" class="btn btn-default">
        Profit <span class="label label-success label-as-badge">{{profit}}</span>
      </button>
    </div>
  </div>
  <div class="row top-buffer">
    <button type="button" class="btn btn-default" ng-click="sendOffer()">
      Angebot abgeben
    </button>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="accepted()">Angenommen</button>
  <button class="btn btn-default" ng-click="rejected()">Abgelehnt</button>
  <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
</div>
