<div ng-controller="GamemanagerCtrl">
  <h3>Game Managing <small>{{inputData.gameName}}</small></h3>
  <h4 class="row-buffer">Creating a new Game</h4>
  <form name="createNewGameForm">
    <div class="row row-buffer">
      <div class="col-md-4">
        <div class="form-group form-group-sm">
          <label for="gameName">Name: </label>
          <input type="text" class="form-control input-sm" id="gameName" name="uGameName" ng-model="inputData.gameName" required="">
        </div>
      </div>
      <div class="col-md-4">
        <p><b>Slots</b></p>
        <p>Set the number of player slots</p>
        <button class="btn btn-default" ng-click="increaseSlots()"><span class="fa fa-plus"></span></button>
        <b class="number-between-buttons">{{inputData.slots}}</b>
        <button class="btn btn-default" ng-click="decreaseSlots()"><span class="fa fa-minus"></span></button>
      </div>
    </div>
    <div class="row row-buffer">
      <div class="col-md-4">
        <p><b>Sessions</b></p>
        <p>Set the number of maximum sessions</p>
        <button class="btn btn-default" ng-click="increaseSessions()"><span class="fa fa-plus"></span></button>
        <b class="number-between-buttons">{{inputData.sessionNumber}}</b>
        <button class="btn btn-default" ng-click="decreaseSessions()"><span class="fa fa-minus"></span></button>
      </div>
      <div class="col-md-4">
        <label>Rounds</label>
        <p>Set the number of maximum rounds per session</p>
        <button class="btn btn-default" ng-click="increaseRounds()"><span class="fa fa-plus"></span></button>
        <b class="number-between-buttons">{{inputData.roundNumber}}</b>
        <button class="btn btn-default" ng-click="decreaseRounds()"><span class="fa fa-minus"></span></button>
      </div>
      <!--<div class="col-md-4">-->
        <!--<label>Time</label>-->
        <!--<p>Set the number of maximum minutes per round</p>-->
        <!--<button class="btn btn-default" ng-click="increaseTime()"><span class="fa fa-plus"></span></button>-->
        <!--<b class="number-between-buttons">{{inputData.timeLeft}}</b>-->
        <!--<button class="btn btn-default" ng-click="decreaseTime()"><span class="fa fa-minus"></span></button>-->
      <!--</div>-->
    </div>
    <div class="row row-buffer">
      <div class="col-md-12">
        <div class="text-right">
          <button class="btn btn-success" ng-click="startGame()" ng-disabled="createNewGameForm.$invalid">Create Game</button>
        </div>
      </div>
    </div>
  </form>
</div>
