<h2 class="text-center">What is your name?</h2>

<div class="container text-center">
  <div class="row row-buffer">
    <div class="col-md-4">
      <form name="playerInputForm">
        <div class="form-group form-group-sm">
          <label for="name">Name: </label>
          <input type="text" class="form-control input-sm" id="name" name="uName" ng-model="inputData.name" required="">
        </div>
        <input type="submit" class="btn btn-success" ng-click="saveData()" ng-disabled="playerInputForm.$invalid" value="Save"/>
      </form>
    </div>
  </div>
</div>
