<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h1>VLW-Spiele</h1>
      </div>
      <div class="col-md-6 text-center">
        <h3>Suche: <input type="text"></h3>
      </div>
  </div>
  <table class="table table-responsive table-hover">
    <tr>
      <th>Name</th>
      <th>Spiel-ID</th>
      <th>Spiel-Typ</th>
      <th>Spieler</th>
    </tr>
    <tr>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary">Spiel erstellen</button>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-primary">Verbinden</button>
    </div>
  </div>
</div>
