<h2>Offers</h2>
<div ng-controller="OffersCtrl">
  <!--view for the demander-->
  <div ng-show="isDemander">
    <table class="table table-responsive table-striped row-buffer">
      <caption>Tradings</caption>
      <tr>
        <th>Seller</th>
        <th>Price</th>
        <th>Your price</th>
        <div class="text-right"><th>Status</th></div>
        <th>Trade again</th>
      </tr>
      <tr>
        <td>test</td>
        <td>12</td>
        <td>11</td>
        <td>Processing</td>
        <td><a ng-href="#/trade"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-right"></span></button></a></td>
      </tr>
    </table>
    <table class="table table-responsive table-striped row-buffer">
      <caption>Available offers</caption>
      <tr>
        <th>Seller</th>
        <th>Price</th>
        <div class="text-right"><th>Trade</th></div>
      </tr>
      <tr>
        <td>test</td>
        <td>test</td>
        <td><a ng-href="#/trade"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-right"></span></button></a></td>
      </tr>
    </table>
  </div>

  <!--view for the supplier-->
  <div ng-show="isSupplier">
    <div ng-show="showSupplierForm">
      <form name="supplierInputForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group form-group-sm">
              <label for="supplierPrice">Price to offer: </label>
              <input type="number" step="0.01" class="form-control input-sm" id="supplierPrice" name="uSupplierPrice" ng-model="inputData.supplierPrice" required="true">
            </div>
          </div>
        </div>
        <div class="row row-buffer">
          <div class="col-md-4">
            <div class="text-right">
              <input type="submit" class="btn btn-success" ng-click="saveSupplierPrice()" ng-disabled="supplierInputForm.$invalid" value="Save"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="showDemanders">
      <h4>Price you offer: <b>{{inputData.supplierPrice}}</b></h4>
      <table class="table table-responsive table-striped row-buffer">
        <caption>Trading offers from Buyers</caption>
        <tr>
          <th>Buyer</th>
          <th>Price Offer</th>
          <th>Status</th>
          <div class="text-right"><th>Trade</th></div>
        </tr>
        <tr>
          <td>test</td>
          <td>{{inputData.supplierPrice - 1}}</td>
          <td>Processing</td>
          <td><a ng-href="#/trade/accept" href="#/trade/accept"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-right"></span></button></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

