<h2>Offers</h2>
<div>
  <!--view for the demander-->
  <div ng-show="isDemander">
    <table class="table table-responsive table-striped row-buffer">
      <caption>Tradings</caption>
      <tr>
        <th>Seller</th>
        <th>Price</th>
        <th>Your price</th>
        <th>Status</th>
        <th class="text-right">Trade again</th>
      </tr>
      <tr ng-repeat="trade in runningTrades">
        <td>{{trade.partner}}</td>
        <td>{{trade.price}}</td>
        <td>{{trade.myPrice}}</td>
        <td>{{trade.status}}</td>
        <td class="text-right"><button class="btn btn-default btn-sm" ng-click="openRunningTrade(trade);"><span class="glyphicon glyphicon-arrow-right"></span></button></td>
      </tr>
    </table>
    <table class="table table-responsive table-striped row-buffer">
      <caption>Available offers</caption>
      <tr>
        <th>Seller</th>
        <th>Price</th>
        <th class="text-right">Trade</th>
      </tr>
      <tr ng-repeat="offer in availableOffers">
        <td>{{offer.seller.name}}</td>
        <td>{{offer.price}}</td>
        <td class="text-right"><button class="btn btn-default btn-sm" ng-click="openOffer(offer);"><span class="glyphicon glyphicon-arrow-right"></span></button></td>
      </tr>
    </table>
  </div>

  <!--view for the supplier-->
  <div ng-hide="isDemander">
    <div ng-show="showSupplierForm">
      <form name="supplierInputForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group form-group-sm">
              <label for="supplierPrice">Price to offer: </label>
              <input type="number" step="1.0" class="form-control input-sm" id="supplierPrice" name="uSupplierPrice" ng-model="prices.customPrice" required="true">
            </div>
          </div>
        </div>
        <div class="row row-buffer">
          <div class="col-md-4">
            <div class="text-right">
              <input type="submit" class="btn btn-success" ng-click="saveSupplierPrice()" ng-disabled="supplierInputForm.$invalid" value="Save"/>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div ng-hide="showSupplierForm">
      <h4>Price you offer: <b>{{prices.customPrice}}</b></h4>
      <table class="table table-responsive table-striped row-buffer">
        <caption>Trading offers from Buyers</caption>
        <tr>
          <th>Buyer</th>
          <th>Price Offer</th>
          <th>Status</th>
          <th class="text-right">Trade</th>
        </tr>
        <tr ng-repeat="trade in availableTrades">
          <td>{{trade.partner}}</td>
          <td>{{trade.price}}</td>
          <td>{{trade.status}}</td>
          <td class="text-right"><button class="btn btn-default btn-sm" ng-click="openTrade(trade);"><span class="glyphicon glyphicon-arrow-right"></span></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>

