<h2>Profile <small>Type: {{ typeText }}</small></h2>

<h4 class="row-buffer">Description</h4>
<p ng-bind-html="descriptionText | stringular:maxValue"></p>
<table class="table table-responsive table-striped">
  <caption>Profits</caption>
  <tr>
    <th></th>
    <th ng-repeat="trade in tradeData">Round {{$index + 1}}</th>
  </tr>
  <tr>
    <td>Buyer Value</td>
    <td ng-repeat="trade in tradeData">{{trade.value}}</td>
  </tr>
  <tr>
    <td>Price Paid</td>
    <td ng-repeat="trade in tradeData">{{trade.pricePaid}}</td>
  </tr>
  <tr>
    <td>Profit</td>
    <td ng-repeat="trade in tradeData">{{trade.profit}}</td>
  </tr>
</table>
